body, div#footer { 
	border-top: 0px !important; 
}
div#footer h3 { 
	color: #ccc; 
	font-size: 14px !important; 
}
.header-img-span { 
	margin-top: 10px; 
}
#content {
	padding-top: 20px;
	padding-bottom: 40px;
	margin-left: 0px;
}
.container {
	width: 920px;
}
html, body, #wrap {
	height: 100%;
}
body > #wrap {
	height: auto; 
	min-height: 100%;
}
#main {
	padding-bottom: 330px;
}
div#footer {
	position: relative;
	margin-top: -350px;
	height: 330px;
	clear:both;
}
.CodeMirror-scroll {
    height: auto !important;
    overflow-y: hidden !important;
    overflow-x: auto !important;
}