<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:security="http://www.springframework.org/schema/security"
			 xmlns:mvc="http://www.springframework.org/schema/mvc"
			 xmlns:context="http://www.springframework.org/schema/context"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans 
								 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
								 http://www.springframework.org/schema/security 
								 http://www.springframework.org/schema/security/spring-security-3.1.xsd
									 http://www.springframework.org/schema/context
								 http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<http pattern="/static/**" security="none" />
	<http pattern="/install/**" security="none" />
	<http pattern="/sos" security="none" />
	
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/index" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_ANONYMOUS')" />
		<intercept-url pattern="/client" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_ANONYMOUS')" />
		<intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/j_spring_security_check" access="hasRole('ROLE_ANONYMOUS')" />
		<form-login login-page="/login"
					default-target-url="/admin/index" 
					authentication-failure-url="/login?error=true"
					login-processing-url="/j_spring_security_check" />
		<logout logout-success-url="/index" />
	</http>
	
	<context:annotation-config />

	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<!--
	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder" />
    -->
	<beans:bean id="customAuthenticationProvider" class="org.n52.sos.web.admin.auth.UserService"/>

	<authentication-manager>
		<authentication-provider ref="customAuthenticationProvider" />
	</authentication-manager>
</beans:beans>
